.gitattributes text=auto

*.c   text=auto
*.cpp text=auto
*.h   text=auto
*.mm  text=auto
*.rc  text=auto
*.txt text=auto

*.cmd text eol=crlf

# Windows makefile
Makefile text=auto

# Visual Studio project
*.sln             text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj.filters text eol=crlf
